<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <a href="/home/logout">
      <button>Logout</button>
    </a>

    <a href="/products/new">
      <button>new product</button>
    </a>

    <h1>
      Welcome,
      <%= username %>!
    </h1>

    <% products.forEach((product)=> { %>
    <p><%= product.name %></p>
    <p><%= product.description %></p>
    <p><%= product.price %></p>
    <p><%= product.ratin %></p>
    <p><%= product.brand %></p>
    <% }); %>
  </body>
</html>
